<h1>Event Details Page</h1>
<div class="event-container">
  <div *ngFor="let detail of events" class="event-item">
    <div>Event Name: {{ detail.eventName }}</div>
    <div>Event Descrption: {{ detail.eventDescription }}</div>
    <div>Created By: {{ detail.createdBy }}</div>
    <div>Created Date: {{ detail.createdDate }}</div>
    <div>Start Date: {{ detail.eventStartDate | date }}</div>
    <div>End Date: {{ detail.eventEndDate | date }}</div>
    <div>Event Type: {{ detail.eventType }}</div>
    <div>Event Location: {{ detail.eventLocation }}</div>
    <div>Price: ${{ detail.price }}</div>
    <button (click)="updateFavoriteStatus(1, detail.eventId)">
      Add to Favorites
    </button>
  </div>
</div>
