/* Style for User Favorites section */
h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Style for each favorite item */
div.favorite-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

p {
    margin: 0;
    font-size: 1.2em;
}

button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #e53935;
}

button:active {
    background-color: #c62828;
}
.my-container {
    overflow-y: hidden;
    /* or overflow-y: visible; */
}