h1 {
    text-align: center;
}

.event-table {
    width: 100%;
    max-width: 1200px;
    /* Adjust the value as per your requirement */
    margin: 0 auto;
    border-collapse: collapse;
}

.event-table th,
.event-table td {
    padding: 8px;
    border: 1px solid #ccc;
}

.event-table th {
    font-weight: bold;
}

.event-table tbody tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}